{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}


<section class="bg-1 h-900x main-slider pos-relative">
        <div class="triangle-up pos-bottom"></div>
        <div class="container h-100">
                <div class="dplay-tbl">
                        <div class="dplay-tbl-cell center-text color-white">

                                <h5><b>BEST IN CITY</b></h5>
                                <h1 class="mt-30 mb-15">Kareli Amul Parlour</h1>
								<h5><b>AMUL DAIRY PRODUCTS HOME DELIVERY AVAILABLE IN KARELI AND IT'S NEARBY AREA</b></h5>
								<h6 class="mt-20"><a href="https://wa.me/917207770877?text=Hello!%20I%20am%20interested%20in%20one%20of%20your%20shop%20product." class="btn-brdr-primary plr-25"><b>BOOK YOUR ORDER NOW</b></a></h6>
                        </div><!-- dplay-tbl-cell -->
                </div><!-- dplay-tbl -->
        </div><!-- container -->
</section>


<section class="story-area left-text center-sm-text pos-relative">
        <div class="abs-tbl bg-2 w-20 z--1 dplay-md-none"></div>
        <div class="abs-tbr bg-3 w-20 z--1 dplay-md-none"></div>
        <div class="container">
                <div class="heading">
                        <img class="heading-img" src="{% static 'images/heading_logo.png' %}" alt="">
                        <h2>Welcome To Our Shop</h2>
                </div>

                <div class="row">
                        <div class="col-md-12">
                                <p class="mb-30">Kareli Amul Parlour is an <b><i>Authorized Amul Parlour</i></b>, where complete range of Amul Products are available in one store We accept all kind of</p>
                                    <p>	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Party & Catering Orders, Across <b><i>Prayagraj (Allahabad)</i></b>&nbsp; like ice cream, paneer, milk, etc. </p>
                        </div><!-- col-md-6 -->
                </div><!-- row -->
        </div><!-- container -->
</section>


<section class="story-area bg-seller color-white pos-relative">
        <div class="pos-bottom triangle-up"></div>
        <div class="pos-top triangle-bottom"></div>
        <div class="container">
                <div class="heading">
                        <img class="heading-img" src="images/heading_logo.png" alt="">
                        <h2>Best Sellers</h2>
                </div>

                <div class="row">
                        <div class="col-lg-3 col-md-4  col-sm-6 ">
                                <div class="center-text mb-30">
                                        <div class="ïmg-200x mlr-auto pos-relative">
                                                <h6 class="ribbon-cont"><div class="ribbon primary"></div><b>BEST</b></h6>
                                                <img src="{% static 'images/bs/seller-2-200x200.png' %}" alt="">
                                        </div>
                                        <h5 class="mt-20">Amul Butter 500gm</h5>
                                        <h4 class="mt-5"><b>Rs 225.00</b></h4>
                                        <h6 class="mt-20"><a href="https://wa.me/917207770877?text=Hello!%20I%20am%20interested%20in%20one%20of%20your%20shop%20product." class="btn-brdr-primary plr-25"><b>Order Now</b></a></h6>
                                </div><!--text-center-->
                        </div><!-- col-md-3 -->

                        <div class="col-lg-3 col-md-4  col-sm-6 ">
                                <div class="center-text mb-30">
                                        <div class="ïmg-200x mlr-auto pos-relative"><img src="{% static 'images/bs/seller-3-200x200.png' %}" alt=""></div>
                                        <h5 class="mt-20">Amul Butter 100gm</h5>
                                        <h4 class="mt-5"><b>Rs 46.00</b></h4>
                                        <h6 class="mt-20"><a href="https://wa.me/917207770877?text=Hello!%20I%20am%20interested%20in%20one%20of%20your%20shop%20product." class="btn-brdr-primary plr-25"><b>Order Now</b></a></h6>
                                </div><!--text-center-->
                        </div><!-- col-md-3 -->

                        <div class="col-lg-3 col-md-4  col-sm-6 ">
                                <div class="center-text mb-30">
                                        <div class="ïmg-200x mlr-auto pos-relative"><img src="{% static 'images/bs/seller-4-200x200.png' %}" alt=""></div>
                                        <h5 class="mt-20">Amul Gold Milk 1Ltr</h5>
                                        <h4 class="mt-5"><b>Rs 64.00</b></h4>
                                        <h6 class="mt-20"><a href="https://wa.me/917207770877?text=Hello!%20I%20am%20interested%20in%20one%20of%20your%20shop%20product." class="btn-brdr-primary plr-25"><b>Order Now</b></a></h6>
                                </div><!--text-center-->
                        </div><!-- col-md-3 -->


                        <div class="col-lg-3 col-md-4  col-sm-6 ">
                                <div class="center-text mb-30">
                                        <div class="ïmg-200x mlr-auto pos-relative">
                                                <h6 class="ribbon-cont"><div class="ribbon primary"></div><b>BEST</b></h6>
                                                <img src="{% static 'images/bs/seller-5-200x200.png' %}" alt="">
                                        </div>
                                        <h5 class="mt-20">Amul Fresh Cream 1Ltr</h5>
                                        <h4 class="mt-5"><b>Rs 182.00</b></h4>
                                        <h6 class="mt-20"><a href="https://wa.me/917207770877?text=Hello!%20I%20am%20interested%20in%20one%20of%20your%20shop%20product." class="btn-brdr-primary plr-25"><b>Order Now</b></a></h6>
                                </div><!--text-center-->
                        </div><!-- col-md-3 -->

                        <div class="col-lg-3 col-md-4  col-sm-6 ">
                                <div class="center-text mb-30">
                                        <div class="ïmg-200x mlr-auto pos-relative">
                                                <h6 class="ribbon-cont color-black"><div class="ribbon white"></div><b>PLUS SIZE</b></h6>
                                                <img src="{% static 'images/bs/seller-6-200x200.png' %}" alt="">
                                        </div>
                                        <h5 class="mt-20">Amul Masti</h5>
                                        <h4 class="mt-5"><b>RS 45.00</b></h4>
                                        <h6 class="mt-20"><a href="https://wa.me/917207770877?text=Hello!%20I%20am%20interested%20in%20one%20of%20your%20shop%20product." class="btn-brdr-primary plr-25"><b>Order Now</b></a></h6>
                                </div><!--text-center-->
                        </div><!-- col-md-3 -->

                        <div class="col-lg-3 col-md-4  col-sm-6 ">
                                <div class="center-text mb-30">
                                        <div class="ïmg-200x mlr-auto pos-relative"><img src="{% static 'images/bs/seller-7-200x200.png' %}" alt=""></div>
                                        <h5 class="mt-20">Amul Cheese Spread 200gm</h5>
                                        <h4 class="mt-5"><b>Rs 80.00</b></h4>
                                        <h6 class="mt-20"><a href="https://wa.me/917207770877?text=Hello!%20I%20am%20interested%20in%20one%20of%20your%20shop%20product." class="btn-brdr-primary plr-25"><b>Order Now</b></a></h6>
                                </div><!--text-center-->
                        </div><!-- col-md-3 -->


                        <div class="col-lg-3 col-md-4  col-sm-6 ">
                                <div class="center-text mb-30">
                                        <div class="ïmg-200x mlr-auto pos-relative">
                                                <h6 class="ribbon-cont"><div class="ribbon primary"></div><b>BEST</b></h6>
                                                <img src="{% static 'images/bs/seller-8-200x200.png' %}" alt="">
                                        </div>
                                        <h5 class="mt-20">Amul Pure Cow Ghee 1Ltr</h5>
                                        <h4 class="mt-5"><b>Rs 460.00</b></h4>
                                        <h6 class="mt-20"><a href="https://wa.me/917207770877?text=Hello!%20I%20am%20interested%20in%20one%20of%20your%20shop%20product." class="btn-brdr-primary plr-25"><b>Order Now</b></a></h6>
                                </div><!--text-center-->
                        </div><!-- col-md-3 -->


                        <div class="col-lg-3 col-md-4  col-sm-6 ">
                                <div class="center-text mb-30">
                                        <div class="ïmg-200x mlr-auto pos-relative">
                                                <h6 class="ribbon-cont"><div class="ribbon primary"></div><b>BEST</b></h6>
                                                <img src="{% static 'images/bs/seller-9-200x200.png' %}" alt="">
                                        </div>
                                        <h5 class="mt-20">Amul Pure Cow Ghee 1Ltr</h5>
                                        <h4 class="mt-5"><b>Rs 445.00</b></h4>
                                        <h6 class="mt-20"><a href="https://wa.me/917207770877?text=Hello!%20I%20am%20interested%20in%20one%20of%20your%20shop%20product." class="btn-brdr-primary plr-25"><b>Order Now</b></a></h6>
                                </div><!--text-center-->
                        </div><!-- col-md-3 -->
                </div><!-- row -->
        </div><!-- container -->
</section>


<section>
        <div class="container">

                <h6 class="center-text mt-40 mt-sm-20 mb-30"><a href="/dairy_products" class="btn-primaryc plr-25"><b>SEE COMPLETE DAIRY PRODUCTS MENU</b></a></h6>

        </div><!-- container -->
</section>
{% endblock %}
